<!-- Reset Password Page --><div class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 ng-scope" style="background-color: #eceef1;padding: 10px 30px 30px;">
<!-- css for password strenght -->
<style>
              @import 'assets/layouts/layout6/css/password.css';
</style>
<!-- BEGIN Reset password FORM -->
            <form class="register-form" name="myForm" novalidate ng-init="disabled=false">
                <div class="form-title">
                    <h2 class="form-title"> <center>Reset Password</center></h2>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

<!-- Passwords Check -->
                     <div class="form-group" >
                    <label for="New Password" class="control-label visible-ie8 visible-ie9"> New Password</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off"  placeholder=" New Password " id="password" name="password" ng-model="password"  novalidate/><ul id="strength" check-strength="password"></ul>
                    <!-- <span ng-show="myForm.password.$error.required && myForm.password.$dirty" style="color:red;">Password is required </span>
                    <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" style="color:red;">Passwords must be between 8 and 20 characters (Include special characters to provide strength to your password)</span> -->
                    </div>
           
                    
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9" for="password_c" style="color:red;">Confirm Password</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" id="password_c" name="password_c" ng-model="formData.password_c" ng-required pw-check="password" />
                    </div>
                    
                  <div class="msg-block" ng-show="myForm.$error">
                    <span class="msg-error" ng-show="myForm.password_c.$error.pwmatch" style="color:red;">
    Password fields don't match.
  </span>
</div> 
         
                    
                   
                
                
                <div class="form-actions">
                <span ng-show="showNotEnteredPassword" style="color:red;">Enter  Password to continue</span>
                <p>
                </p>
                    
                  <button type="button" id="register-cancel-btn" class="btn white  pull-left" ng-click="resetCancel()">Cancel</button>
                  <button type="submit" id="register-submit-btn" class="btn red  pull-right" ng-click="resetPasswordSubmit()">Save</button>
                  &nbsp;&nbsp;
                  <button type="button" id="register-back-btn" class="btn  white pull-center" ng-click="resetPassword()">Reset</button>
                </div>
                
            </form>
            
            <!--  <pre>strength = {{strength}}</pre>    
             <pre>password = {{formData.password}}</pre> -->
            <!-- END REGISTRATION FORM -->
            
            	<style>
body {
	background-color: #FFFFFF!important;
    padding: 70px 0 !important;
}

button {
	display: none;
}
.btn{
    border-radius: 0;
    padding: 10px 20px;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-title{
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
}
.hint{
color: #555; font-weight: 500;margin-bottom:10px;}
</style>
</div>