﻿<style>
@import 'assets/global/plugins/select2/css/select2.min.css';

@import 'assets/global/plugins/select2/css/select2-bootstrap.min.css';
</style>

<div class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 text-center">
	<img src="images/NavResearch.png" class="img-responsive" alt="" />
</div>
<div class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3"
	style="background-color: #eceef1; padding: 10px 30px 30px;">
	<form class="login-form col-xs-12" ng-show="showLoginForm" name="form"
		ng-submit="vm.login()" role="form">
		<div class="form-title">
			<h3 class="form-title text-center">Login</h3>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<input
				class="form-control form-control-solid placeholder-no-fix form-group"
				ng-click="showme=false" ng-model="name" type="text"
				autocomplete="off" placeholder="Username" name="username"
				id="username" required />
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input
				class="form-control form-control-solid placeholder-no-fix form-group"
				ng-click="showme=false" type="password" ng-model="pass"
				autocomplete="off" placeholder="Password" name="password"
				id="password" required />
		</div>
		<p ng-show="showNotEnteredFields" style="color: red;">Enter
			correct username and password to login.</p>
		<div class="row form-group">
			<div class="col-sm-12">
				<div ng-show="showCaptcha()">
					<simple-captcha valid="captchaValid"></simple-captcha>
				</div>
				<span style="color: red;" ng-show="invalidCaptcha">Captcha
					Validation failed</span>
			</div>
		</div>
		<div class="group">
			<button ng-click="login()" class="btn red btn-block uppercase"
				type="submit">Login</button>
		</div>
		<div class="form-group margin-top-20 margin-bottom-20">
			<div class="pull-left">
				<label class="rememberme check"> <input type="checkbox"
					class="rem-checkbox" ng-model="rememberMe"
					ng-click="rememberMeFn()" />Remember me
				</label>
			</div>
			<div class="pull-right forget-password-block">
				<a href="" id="forget-password"
					ng-click="showmeforget=true;showLoginForm=false;emailSent=false;resetFields();"
					class="forget-password">Forgot Password?</a>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="create-account">
			<p class="text-center">
				<button ng-click="register()" class="btn-primary btn red" type="submit">Create
					an account</button>
			</p>
		</div>
	</form>

	<form class="login-form col-xs-12" ng-show="showmeforget">
		<div>
			<p style="color: red;" ng-show="incorrectUser">Invalid username.
				Please try again</p>
		</div>
		<div class="form-title">
			<h3 class="form-title text-center">Forget Password</h3>
		</div>
		<div ng-show="!emailSent">
		<p class="hint">Enter your username to reset your password.</p>
		<div class="form-group">
			<input class="form-control placeholder-no-fix" type="text"
				autocomplete="off" placeholder="username" ng-model="username" />
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn"
				ng-click="backToLogin()"
				class="btn btn-default">Back</button>
			<button type="submit"
				class="btn blue red uppercase pull-right"
				ng-click="forgetPassword()">Submit</button>
		</div>
		</div>
		<div ng-show="emailSent">
		<p style="color: black;">Email containing reset password link has
			been sent to {{emailAddress}}</p>
			<p class="text-center"><button type="button" id="back-btn"
				ng-click="backToLogin()"
				class="btn red">Back To Login</button></p>
	</div>
	</form>
	
</div>
<style>
body {
	background-color: white!important;
    padding: 70px 0 !important;
}

.btn{
    border-radius: 0;
    padding: 10px 20px;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-title{
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
}
.hint{
color: #555; font-weight: 500;margin-bottom:10px;}
</style>
