.strong   { color: #060 !important; border-color: #0F0 !important;}
.medium   { color: #C60 !important; border-color: #FC0 !important;}
.weak     { color: #900 !important; border-color: #F00 !important;}
.strength { padding: 1px 10px !important; border: 2px solid; color: #FFF !important;}