﻿.rotate90{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

.bold{font-weight:bold}
.chosen-container-single .chosen-single{
    border:0px;
}
.chosen-container {
    border: 1px solid;
    border-color: #b5b5b5;
}
.reprocess-group.has-error input,
.reprocess.has-error select,
.reprocess.has-error textarea {
    border-color: #f2a696;
    color: #d68273;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .reprocess.has-error input:focus,
    .reprocess.has-error select:focus,
    .reprocess.has-error textarea:focus {
        -webkit-box-shadow: 0px 0px 0px 2px rgba(219, 137, 120, 0.3);
        box-shadow: 0px 0px 0px 2px rgba(219, 137, 120, 0.3);
        color: #ca5f4c;
        border-color: #d77b68;
        background-color: #fef9f8;
    }


    .has-error .chosen-container{
        color: #a94442;
        border-color: #a94442;
    }

    .rowBkgColor {
  background-color: #FF0000;
  color: #000000;
}

.ui-grid-row .ui-grid-cell {
   background-color: inherit !important;
}

.grid {
    width: 100%;
    height: 400px;
}

.gridActionCell {
    text-align: center;
}

/*#myModal4 .modal-content {
        width: 1100px;
        margin-left: -250px;
    }

    #myModal4 .modal-dialog {
        width: 1100px;
    }*/

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

tr.text-center {
    display: none;
}

.timepicker .btn {
    border-width: 1px;
}

.btn-ui-grid {
    margin: 3px 3px 0 0;
    padding: 3px 7px;
}

.word-break{word-break:break-all;}
