﻿@charset "utf-8";
/* CSS Document */
body {
	color: #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a {
	color: #BB2322;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus {
	color: #BB2322;
	text-decoration: underline;
}

a:focus {
	outline: none;
}

hr {
	border-color: #e8e8e8;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.fa-1x {
	font-size: 1.5em;
}

.fs11 {
	font-size: 11px;
}

.fs12 {
	font-size: 12px;
}

.fs16 {
	font-size: 16px;
}

.pdT10 {
	padding-top: 10px;
}

.m0 {
	margin: 0px !important;
}

.mt5 {
	margin-top: 5px;
}

.mt0 {
	margin-top: 0px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

input[type="radio"], input[type="checkbox"] {
	line-height: normal;
	margin: 2px 0 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0px;
}

.navbar-nav>li>a {
	padding-bottom: 10px;
	padding-top: 10px;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-default {
	border: 0;
}

.form-signin {
	/*background-color: #f5f5f5;*/
	border-radius: 4px;
	margin: 50px auto 0;
	max-width: 330px;
	padding: 20px 20px 10px 20px;
}

.form-signin label {
	color: #BB2322;
}

.form-signin h2 {
	margin-top: 0;
}

.iconbox {
	max-width: 330px;
	margin: 70px auto 30px auto;
}

.iconbox span {
	margin-right: 35px;
}

.iconbox span:last-child {
	margin-right: 0px;
}

.loader {
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

.main {
	
}

.tabs-center {
	margin: 0 auto;
	max-width: 600px;
}

.grey-bar {
	background-color: #808285;
}

.main>.nav-tabs {
	border-bottom: 0;
}

.main>.nav>li {
	display: inline;
}

.main>.nav-tabs>li>a {
	color: #fff;
	padding: 8px 12px;
	border-radius: 0;
	display: inline-block;
}

.main>.nav {
	text-align: center;
}

.main>.nav-tabs>li.active>a {
	color: #fff;
	background-color: #BB2322;
}

.main>.nav-tabs>li {
	margin-bottom: 0;
}

.main>.nav-tabs>li>a {
	border: 0;
}

.main>.nav>li>a:hover {
	color: #333;
}

.main>.nav-tabs>li.active>a, .main>.nav-tabs>li.active>a:hover, .main>.nav-tabs>li.active>a:focus
	{
	color: #fff;
	border: 0;
}

.navbar-toggle {
	border-color: #ddd;
}

.navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-toggle:hover, .navbar-toggle:focus {
	background-color: #ddd;
}

.right-nav {
	margin: 8px 0 0 0;
	padding-left: 0;
	float: right;
	list-style: none;
}

.right-nav li {
	display: inline-block;
}

.right-nav li a {
	color: #fff;
	margin-right: 15px;
	padding: 9px 12px;
	text-decoration: none;
}

.right-nav li a:hover {
	color: #333;
	text-decoration: none;
	background-color: #f5f5f5;
}

.right-nav li.active a {
	color: #fff;
	text-decoration: none;
	background-color: #bb2322;
}

.right-nav li a.active {
	color: #fff;
	text-decoration: none;
	background-color: #bb2322;
}

.navbar-collapse.in {
	overflow: hidden;
}

fieldset {
	padding: 10px;
	position: relative;
	margin-bottom: 20px;
	border: #ddd 1px solid;
}

legend {
	padding: 0;
}

legend {
	padding: 0 5px;
	font-size: 16px;
	line-height: inherit;
	color: #333333;
}

.optbar {
	margin: 0 auto;
	font-size: 12px;
	max-width: 250px;
	padding: 5px 10px;
	border: #ccc 1px solid;
	background-color: #e8e8e8;
}

.optbar-edit {
	/*position:absolute;
	top:22px;
	right:-10px;*/
	
}

.form-group {
	margin-bottom: 15px;
}

.table-striped>tbody>tr th {
	background-color: #E8E8E8;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #f3fafd;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #ccc;
}

.form-control:focus {
	border-color: #BB2322;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(187, 35, 34, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(187, 35, 34, 0.6);
}

.btn-primary {
	font-weight: bold;
	background-color: #BB2322;
	border-color: #a31f1e;
	color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active,
	.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #a31f1e;
	border-color: #a31f1e;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover,
	.btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus,
	.btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus
	{
	color: #ffffff;
	background-color: #a31f1e;
	border-color: #a31f1e;
}

.graph-caption {
	margin-top: 10px;
	text-align: center;
}

.graph-caption-edit {
	margin-top: -7px;
}

.graph-legends {
	padding: 10px;
	border: #ddd 1px solid;
}

.graph-legends ul {
	padding-left: 0;
	list-style: none;
}

.graph-legends li {
	margin-top: 10px;
}

.graph-legends li span {
	height: 16px;
	width: 16px;
	border: 2px solid #333;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	display: inline-block;
	position: relative;
	top: 4px;
	margin-right: 5px;
}

span.green, .bg-green {
	background-color: #8DC63F;
}

span.red, .bg-red {
	background-color: #BB2322;
}

span.yellow, .bg-yellow {
	background-color: #EEBB11;
}

span.white, .bg-white {
	background-color: #ffffff;
}

span.grey, .bg-grey {
	background-color: #e0e0e0;
}

input[type="file"]#fileElem {
	visibility: hidden;
	width: 0;
	height: 0;
}

input[type="file"]#fileElem2, input[type="file"]#fileElem3 {
	visibility: hidden;
	width: 0;
	height: 0;
}

.add-visual {
	padding: 50px 0;
	border: #E8E8E8 1px solid;
}

#fileSelect, #fileSelect2, #fileSelect3 {
	width: 115px;
	height: 115px;
	border: 0;
	color: #08233e;
	font-size: 18pt;
	padding: 12px;
	background: rgba(0, 0, 0, 0) url(../images/plus.png) center center
		no-repeat;
	cursor: pointer;
	text-shadow: 0 1px #fff;
}

#fileSelect:hover, #fileSelect2:hover {
	background: rgba(0, 0, 0, 0.1) url(../images/plus.png) center center
		no-repeat;
}

#fileSelect:active, #fileSelect2:active {
	position: relative;
}

.button::-webkit-file-upload-button {
	visibility: hidden;
}

.max-height-2 {
	max-height: 200px;
	overflow-y: scroll;
}

.max-height-4 {
	max-height: 400px;
	overflow-y: scroll;
}

.max-height-full {
	max-height: 550px;
	overflow-y: scroll;
}

.min-height-full {
	min-height: 550px;
}

fieldset .mar-none {
	margin-right: -10px;
	margin-bottom: -10px;
	margin-left: -10px;
}

.mar-none {
	margin-right: -15px;
	margin-bottom: -15px;
	margin-left: -15px;
}

.margin-top-15 {
	margin-top: 15px;
}

.min-height-2 {
	min-height: 200px;
}

.min-height18 {
	min-height: 180px;
}

.rock-bc {
	margin-bottom: 10px;
}

.rock-bc>.breadcrumb {
	padding: 6px 15px 2px 15px;
	background-color: transparent;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-bottom: 0px;
}

.rock-bc>.breadcrumb>li+li::before {
	padding: 0;
}

.bdr {
	border: #ddd 1px solid !important;
}

.bdr-R {
	border-right: #ddd 1px solid;
}

.bdr-B {
	border-bottom: #ddd 1px solid;
}

.bdr-T {
	border-top: #ddd 1px solid;
}

.header-bar {
	padding: 15px 0;
	border-bottom: #e7e7e7 1px solid;
	background-color: #f8f8f8;
}

.header-bar .form-inline .input-group .input-group-addon {
	background-color: transparent;
	border: 0;
	border-radius: 0px;
	color: #555;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	padding: 0;
	text-align: center;
}

.header-bar .form-inline .input-group .input-group-addon .btn-primary {
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}

.ground {
	padding: 0;
}

.padding-tb {
	padding-top: 15px;
	padding-bottom: 15px;
}

.time-input {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	line-height: 1.42857;
	padding: 6px 12px;
}

.custom-tab {
	
}

.custom-tab .nav-tabs>li>a {
	border-radius: 0;
	border-width: 1px 1px 0 1px;
	border-color: #ddd;
	-webkit-border-radius: 0;
	background-color: #f5f5f5;
}

.custom-tab .nav>li>a {
	padding: 5px 15px;
}

.custom-tab .nav-tabs>li.active>a, .custom-tab .nav-tabs>li.active>a:hover,
	.custom-tab .nav-tabs>li.active>a:focus {
	background-color: #fff;
	border-width: 1px 1px 0 1px;
	border-color: #ddd;
}

.custom-tab .tab-content {
	padding: 15px 0;
}

.psa {
	margin: 0 auto;
	max-width: 600px;
}

.psa tr {
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid;
}

.psa tr:last-child {
	border-left: #ddd 0px solid;
	border-right: #ddd 0px solid;
	background-color: #fff;
	padding-top: 4px;
}

.psa tr:last-child td {
	padding-top: 4px;
}
/* Side Menu */
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #222;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a.active {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 55px;
	font-size: 18px;
	line-height: 55px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	z-index: 1;
	position: absolute;
	left: 0px;
	top: -18px;
}

#sidebar-wrapper.active {
	left: 250px;
	width: 250px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.toggle {
	margin: 5px 5px 0 0;
}

.toggle {
	margin: 5px 5px 0 0;
}

.btn-dark {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	color: #fff;
}

.btn-light {
	background-color: rgb(255, 255, 255);
	border-radius: 0;
	color: #333;
}
/* Side Menu End */
.rel {
	position: relative;
}

.sidebar {
	margin-top: 0;
}

.sidebar ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.sidebar .nav-tabs {
	border-bottom: 0;
}

.sidebar .nav-tabs>li {
	margin-bottom: 02px;
}

.sidebar .nav-tabs li a {
	color: #333;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.sidebar .nav-tabs>li.active>a {
	color: #bb2322;
}

.sidebar li a:hover, .sidebar li a:focus {
	background-color: #fff;
}

.sidebar .nav-tabs>li.active>a, .sidebar .nav-tabs>li.active>a:hover,
	.sidebar .nav-tabs>li.active>a:focus {
	border: 0;
}

#activity .table th, #sbum .table th {
	border-bottom: #ddd 1px solid;
}

.roman {
	
}

.roman li {
	line-height: normal;
}

.roman ul {
	list-style: lower-roman;
}

.roman li p {
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.alpha {
	list-style: lower-alpha;
}

.alpha li {
	line-height: normal;
}

#engineer-info ol li, #pm-info ol li {
	line-height: normal;
}

#notifications label {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

.table-striped th, .table-striped td {
	border-right: #ddd 1px solid;
}

.table-striped th:last-child, .table-striped td:last-child {
	border-right: 0;
}

.sap-signin {
	margin: 50px auto 0;
	max-width: 640px;
}

.sap-signin form {
	max-width: 270px;
}

.slogan-bar {
	padding: 5px;
	background-color: #BB2322;
}

.sap-signin .form-horizontal .control-label {
	font-weight: normal;
}

.bdr-red {
	border: #BB2322 1px solid;
}

.clear {
	clear: both;
	height: 0;
}

.custom-addon .form-control {
	float: right;
	max-width: 230px;
}

.custom-addon .input-group-addon {
	background-color: transparent;
	border: 0 none;
	padding: 0;
}

.custom-addon .btn {
	border-radius: 0 4px 4px 0;
}

#machines .table-bordered>tbody>tr td:nth-of-type(2n+1) {
	background-color: #f5f5f5;
}

#ROI .table-bordered>tbody>tr td:nth-of-type(2n+1) {
	background-color: #f5f5f5;
}

.customer-legends {
	margin: 0 auto;
}

.customer-legends p {
	margin-bottom: 2px;
}

.customer-legends ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.customer-legends li {
	display: inline;
	margin-right: 5px;
}

.customer-legends span.circle {
	border: 1px solid #333;
	border-radius: 20px;
	height: 16px;
	top: 4px;
	width: 16px;
	display: inline-block;
}

.customer-legends span a {
	text-decoration: none;
}

.popover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.alarm-level {
	font-size: 12px;
}

.alarm-level ul {
	padding-left: 0;
	padding-top: 10px;
	margin-left: 0;
	list-style: none;
}
/*.alarm-level ul::after {
	font-size:18px;
	content:"|";
	margin-right:30px;
	margin-left:15px;
}*/
.alarm-level li {
	margin-right: 5px;
	display: inline-block;
}

.alarm-level li.purple {
	padding: 2px 30px;
	border: #7f3f98 1px solid;
	background-color: #7f3f98;
}

.alarm-level li.green {
	padding: 2px 30px;
	border: #8DC63F 1px solid;
	background-color: #8DC63F;
}

.alarm-level li.orange {
	padding: 2px 30px;
	border: #F68A33 1px solid;
	background-color: #F68A33;
}

.alarm-level li.grey {
	padding: 2px 30px;
	border: #e0e0e0 1px solid;
	background-color: #e0e0e0;
}

.alarm-level li.red {
	padding: 2px 30px;
	border: #BB2322 1px solid;
	background-color: #BB2322;
}

.alarm-level li.yellow {
	padding: 2px 30px;
	border: #eebb11 1px solid;
	background-color: #eebb11;
}

#allAlarms .alarm-level li.orange {
	padding: 2px 30px;
	border: #F68A33 1px solid;
	background-color: #F68A33;
}

.cHealth {
	font-size: 12px;
	margin-top: 15px;
}

.cHealth ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.cHealth li {
	display: inline;
	margin-right: 30px;
}

.cHealth span.circle {
	border: 1px solid #333;
	border-radius: 20px;
	height: 16px;
	top: 4px;
	width: 16px;
	display: inline-block;
}

#page {
	display: none;
}

#loading {
	display: block;
}

.idc {
	min-width: 300px;
	max-width: 300px;
}

.table .img-responsive {
	width: 100%;
}

.roi-graph {
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.tooltip-inner {
	text-align: left;
}

.site-logo {
	width: 40px;
	height: 40px;
	border: #BB2322 2px solid;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.clr-red {
	color: #BB2322;
}

.clr-orange {
	color: #F68A33;
}

.clr-yellow {
	color: #EEBB11;
}

.clr-green {
	color: #8DC63F;
}

.alarm-status {
	width: 30px;
	height: 30px;
	margin: auto;
	border: #666 1px solid;
}

.alarm-status-heading {
	font-weight: bold;
}

#allAlarms .dropdown-menu, #customerSpecific .dropdown-menu {
	min-width: 300px;
	padding: 0 15px;
}

.table-striped>tbody>tr th, .table-striped>tbody>tr td {
	word-wrap: break-word;
}

.width-wrap9 {
	width: 9%;
}

.width-wrap7 {
	width: 7%;
}

.divider {
	height: 1px;
	margin: 10px 0;
	background-color: #f5f5f5;
}

.view-list {
	display: none;
}

#allAlarms .disabled label {
	opacity: .4;
}

#customerSpecific .form-horizontal .control-label {
	text-align: left;
}

#rockTabs {
	width: 100%;
	display: table;
}

#rockTabs li {
	float: none;
	display: table-cell;
}

#rockTabs li:last-child a {
	margin-right: 0;
}

.pad-0 {
	padding: 0 !important;
}

.mt-3 {
	margin-top: 3px !important;
}

.inner-header {
	border: #ddd 1px solid;
	border-bottom: 0;
	padding: 10px 0;
	background-color: #f5f5f5;
}

#managePeople .main .nav-tabs, #machine-tab {
	margin-top: 15px;
}

#healthTab, #ruleTab, #healthTab>li.active a {
	border: 0;
}

#healthTab>li a, #ruleTab>li a, #healthTab>li.active a, #ruleTab>li.active a
	{
	padding: 8px 12px;
}

#managePeopleTabs, #machine-tab, #alarmsTabs, #healthTab, #ruleTab,
	#cascade-tab>ul, #alarmList {
	display: table;
	width: 100%;
}

#managePeopleTabs li, #machine-tab li, #alarmsTabs li, #healthTab li,
	#ruleTab li, #cascade-tab>ul li, #alarmList li {
	float: none;
	display: table-cell;
}

#managePeopleTabs>li>a, #machine-tab>li a, #alarmsTabs>li a, #healthTab>li a,
	#ruleTab>li a, #cascade-tab>ul li a, #alarmList li a {
	color: #bb2322;
	display: block;
	margin-right: 1px;
	border-radius: 0;
	border: #ddd 1px solid;
	background-color: #f5f5f5;
}

#managePeopleTabs>li>a:last-child, #machine-tab>li a:last-child,
	#alarmsTabs>li a:last-child, #healthTab>li a:last-child, #ruleTab>li a:last-child,
	#cascade-tab>ul li a:last-child, #alarmList li a:last-child {
	margin-right: 0;
}

#cascade-tab>ul li a {
	margin-right: 0;
	padding: 4px 8px;
}

#managePeopleTabs>li.active>a, #machine-tab>li.active>a, #alarmsTabs>li.active>a,
	#healthTab>li.active a, #ruleTab>li.active a, #cascade-tab>ul>li.active a,
	#alarmList>li.active a {
	color: #fff;
	border: #ddd 1px solid;
	background-color: #bb2322;
}

#cascade-tab>ul>li a, #cascade-tab>ul>li.active a {
	border: 0;
	border-bottom: #ddd 1px solid;
}

#cal.dropdown-menu {
	right: 0;
	left: auto;
}

.pd10 {
	padding: 10px;
}

.nowrap {
	white-space: nowrap;
}

.mb0 {
	margin-bottom: 0;
}

#unservedAlarms .custom-addon .form-control {
	float: none;
	max-width: none;
}

.select>.placeholder {
	display: none;
}

.fc-small {
	height: 28px !important;
	padding: 4px 9px !important;
}

/* --------------------- Sidebar ---------------------*/
body {
	overflow-x: hidden;
	height: 100%;
}

.tgl-btn {
	top: 45%;
	left: -17px;
	position: absolute;
	z-index: 5;
}

.tgl-btn .btn {
	padding: 15px 0;
	border-radius: 0 3px 3px 0px;
}

.tgl-btn .btn-default {
	border-color: #ddd;
	background-color: #ddd;
}

.tgl-btn .btn-default:hover {
	border-color: #ddd;
	background-color: #fff;
}

#cascade .nav label {
	font-weight: normal;
}

#cascade .nav label.header {
	font-weight: bold;
}

#cascade .nav li ul li, #cascade .nav li ul li ul li, #cascade .nav li ul li ul li ul li,
	#cascade .nav li ul li ul li ul li ul li, #cascade .nav li ul li ul li ul li ul li ul li
	{
	margin-left: 10px;
}

/* --------------------- Tree Menu ---------------------*/
.tree-menu ul {
	padding-left: 10px;
	list-style: none;
}

.tree-menu>ul {
	padding: 0;
}

.tree-menu a {
	color: #666;
	font-size: 13px;
	display: block;
	vertical-align: middle;
	text-decoration: none;
	margin-bottom: 2px;
	padding: 5px 10px;
	-moz-transition: background-color 0.25s linear;
	-webkit-transition: background-color 0.25s linear;
	-o-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
	-moz-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-o-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.tree-menu a:hover {
	-moz-transition: background-color 0.1s linear;
	-webkit-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
}

.tree-menu .active>a:hover, .tree-menu .selected>a, .tree-menu a:hover {
	background-color: #f5f5f5;
}

.tree-menu .selected>a {
	color: #bb2322;
	font-weight: bold;
	text-decoration: none;
}

.tree-menu .active>a {
	background-color: #C5D2E0;
}

.tree-menu .closed>a, .tree-menu .opened>a {
	padding-left: 16px;
	background-position: 0px 5px;
	background-repeat: no-repeat;
}

.tree-menu .closed>a {
	background-image: url(../images/icon-expand.png);
}

.tree-menu .opened>a {
	background-image: url(../images/icon-collapse.png);
}

.LRfit {
	margin-left: -5px;
	margin-right: -10px;
}

.addon-link {
	font-size: 20px;
	text-decoration: none;
}

.addon-link:hover, .addon-link:focus {
	text-decoration: none;
}

fieldset .table-condensed>thead>tr>th, fieldset .table-condensed>tbody>tr>th,
	fieldset .table-condensed>tfoot>tr>th, fieldset .table-condensed>thead>tr>td,
	fieldset .table-condensed>tbody>tr>td, fieldset .table-condensed>tfoot>tr>td
	{
	padding: 2px 5px;
	font-size: 12px;
}

.btn-condensed {
	border-radius: 0;
	padding-top: 2px;
	padding-bottom: 2px;
}

#information fieldset, #connect fieldset, #respond fieldset,
	#assignments fieldset {
	margin-bottom: 0;
}

.btn-block+.btn-block {
	margin-top: 0;
}

.centerfix {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	left: 30px;
	position: absolute;
	top: 13px;
}

#information fieldset .btn.active, #connect fieldset .btn.active,
	#respond fieldset .btn.active, #assignments fieldset .btn.active {
	box-shadow: 0 0 0;
}

.plain {
	border: 0 none;
	min-height: 150px;
	width: 100%;
	max-width: 100%;
}

.level-legend {
	padding: 2px 30px;
}

.tr-red {
	background-color: #e79593 !important;
}

.tr-orange {
	background-color: #ffcc80 !important;
}

.tr-yellow {
	background-color: #ffffc0 !important;
}

#unservedAlarms .table {
	margin-bottom: 15px;
}

.btn-back {
	color: #fff;
	padding: 4px 12px;
	text-align: center;
	border: 0;
	width: 100%;
	background-color: #8dc63f;
}

#subNav ul {
	display: table;
	width: 100%;
}

#subNav li {
	float: none;
	display: table-cell;
}

#subNav>ul li.active>a {
	color: #fff;
	border: #ddd 1px solid;
	background-color: #bb2322;
}

#subNav>ul li a {
	color: #bb2322;
	display: block;
	margin-right: 1px;
	border-radius: 0;
	border: #ddd 1px solid;
	background-color: #f5f5f5;
	width: 100%;
}

#subNav>ul li a:last-child {
	margin-right: 0;
}

/*** --- 404 Page CSS --- ***/
.wrap {
	margin: 0 auto;
	width: 1000px;
}

.logo {
	text-align: center;
	margin-top: 200px;
}

.logo img {
	width: 350px;
}

.logo p {
	color: #272727;
	font-size: 40px;
	margin-top: 1px;
}

.logo p span {
	color: lightgreen;
}

.sub a {
	color: #fff;
	background: #272727;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 13px;
	font-family: arial, serif;
	font-weight: bold;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	-border-radius: .5em;
}

#cascade-tab li:not (.active ) a {
	color: #333;
}

.btn-primary[disabled], .btn-primary[disabled]:hover {
	background-color: #BB2322;
	border-color: #a31f1e;
}

.error-msg {
	margin-top: -30px;
	margin-left: 3%;
}

.error {
	position: absolute;
	right: 25px;
	top: 10px;
}
/* --------------------- Media Query ---------------------*/
@media ( max-width : 767px) {
	.navbar-right .mt20 {
		margin-top: 0;
	}
	.fleft {
		float: none;
	}
	.fright {
		float: none;
	}
	.navbar-right {
		float: none;
		margin-right: 0;
		margin-left: -15px;
	}
	fieldset .img-responsive {
		max-width: 100%;
	}
	.nav>li>a>img {
		max-width: 100%;
	}
	.cell-margin {
		margin-bottom: 15px;
	}
	.cell-marginT-2x {
		margin-top: 20px;
	}
	.max-height-2, .max-height-full {
		max-height: 100%;
	}
	.main>.nav-tabs>li {
		float: none;
		display: block;
		width: 100%;
	}
	.main>.nav-tabs>li>a {
		display: block;
		margin-bottom: 4px;
	}
	.grey-bar {
		padding-top: 5px;
		border-top: #ddd 1px solid;
		background-color: transparent;
	}
	.main>.nav-tabs>li>a {
		border: #ddd 1px solid;
		color: #666;
	}
	.right-nav {
		margin: 0 -13px 0 -15px;
		float: none;
	}
	.right-nav li {
		width: 100%;
		display: block;
	}
	.right-nav li a {
		margin-bottom: 4px;
		color: #666;
		margin-right: 0;
		display: block;
		border: #ddd 1px solid;
	}
	.rock-bc {
		float: none;
		margin-left: 0;
		margin-bottom: 10px;
	}
	.rock-bc .breadcrumb {
		padding-left: 0;
	}
	.tabs-center {
		margin: auto;
		max-width: auto;
	}
	.bdr-R {
		padding-bottom: 20px;
		border-right: 0;
		border-bottom: #ddd 1px solid;
	}
	.custom-tab .nav-tabs>li {
		float: none;
		margin-bottom: 0;
	}
	#managePeople .main .nav-tabs {
		margin-left: 0px;
	}
	#managePeopleTabs li, #machine-tab li, #alarmsTabs li, #ruleTab li,
		#cascade-tab>ul, #alarmList li {
		display: block;
	}
	#cascade-tab>ul li {
		float: left;
	}
	.mar-none {
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0px;
	}
	.bdr-red {
		border: 0;
	}
	.custom-addon .form-control {
		max-width: 100%;
	}
	.alarm-status-heading {
		font-weight: bold;
		padding: 2px;
		background-color: #f5f5f5;
	}
	.width-wrap9 {
		width: auto;
	}
	.width-wrap7 {
		width: auto;
	}
	.modal-dialog {
		margin: 10px;
		position: relative;
		width: auto;
	}
	.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
		margin-left: 0;
	}
	.radio-inline, .checkbox-inline {
		display: block;
		width: 100%;
	}
	#subNav li {
		float: left;
	}
}

@media ( min-width : 981px) and (max-width: 1130px) {
	.graph-legends {
		padding: 0 4px 4px;
	}
	.graph-legends ul {
		margin: 0;
	}
	.graph-legends li {
		font-size: 10px;
		margin-top: 0;
	}
	.add-visual {
		padding: 4px 0;
	}
}

@media only screen and (max-width: 700px) {
	#machines table, #ROI table {
		width: 100%;
	}
	#machines table td, #ROI table td {
		width: 100%;
		display: block;
	}
}

@media only screen and (max-width: 515px) {
	.alarm-level li {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.cHealth li {
		display: block;
		margin-right: 0px;
		margin-bottom: 10px;
	}
}

@media ( min-width : 768px) and (max-width: 1024px) {
	.alarm p {
		font-size: 10px;
	}
}

/* --------------------- Sidebar Media Query ---------------------*/
@media screen and (min-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas-right {
		right: 25%;
	}
	.row-offcanvas-left {
		left: 16.6667%;
	}
	.row-offcanvas-right .sidebar-offcanvas {
		right: -25%; /* 3 columns */
		background-color: rgb(255, 255, 255);
	}
	.row-offcanvas-left .sidebar-offcanvas {
		left: -16.6667%;
		background-color: rgb(255, 255, 255);
	}
	.row-offcanvas-right.active {
		right: 0; /* 3 columns */
	}
	.row-offcanvas-left.active {
		left: 0; /* 3 columns */
	}
	.row-offcanvas-right.active .sidebar-offcanvas {
		background-color: rgb(254, 254, 254);
	}
	.row-offcanvas-left.active .sidebar-offcanvas {
		background-color: rgb(254, 254, 254);
	}
	.row-offcanvas .content {
		min-height: 200px;
		width: 83.3333%;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas.active .content {
		width: 100%; /* 12 columns */
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		display: block;
		bottom: 0;
		width: 16.6667%;
	}
	.side-canvas {
		/*bottom: 0;*/
		display: block;
		left: 15px;
		position: absolute;
		right: 15px;
		top: 0;
		width: auto;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas-right {
		right: 0;
	}
	.row-offcanvas-left {
		left: 0;
	}
	.row-offcanvas-right .sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	.row-offcanvas-left .sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
	.tgl-btn {
		top: -1px;
	}
}

/*Treeview CSS Start*/
div[data-angular-treeview] {
	/* prevent user selection */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* default */
	font-family: Tahoma;
	font-size: 13px;
	color: #555;
	text-decoration: none;
}

div[data-tree-model] ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	/*overflow: hidden;*/
}

div[data-tree-model] li {
	position: relative;
	padding: 0 0 0 20px;
	line-height: 20px;
}

div[data-tree-model] li .expanded {
	padding: 1px 10px;
	background-image:
		url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD");
	background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
	padding: 1px 10px;
	background-image:
		url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB");
	background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
	padding: 1px 10px;
	background-image:
		url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
	background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
	cursor: pointer;
}

div[data-tree-model] li .selected {
	background-color: #aaddff;
	font-weight: bold;
	padding: 1px 5px;
}

.rowBgYellow {
	background-color: #ffffc0 !important;
}

.rowBgOrange {
	background-color: #ffcc80 !important;
}

.rowBgRed {
	background-color: #e79593 !important;
}

div[data-tree-model] li .expanded {
	padding: 1px 10px;
	background-image: url('../images/icon-collapse.png');
	background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
	padding: 1px 10px;
	background-image: url('../images/icon-expand.png');
	background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
	padding: 1px 10px;
	background-image: url('../images/icon-collapse.png');
	background-repeat: no-repeat;
}

/*Treeview CSS End*/
.ui-grid-cell.red {
	background-color: #BB2322 !important;
	color: #FFF !important;
}

.ui-grid-cell.green {
	background-color: #8DC63F !important;
	color: #FFF !important;
}

.ui-grid-cell.yellow {
	background-color: #EEBB11 !important;
	color: #FFF !important;
}

.ui-grid-cell.orange {
	background-color: #F68A33 !important;
	color: #FFF !important;
}

.btn-white {
	border: 0;
	background-color: #fff;
	box-shadow: none;
	display: block;
	color: #333;
	width: 100%;
	padding: 0;
	border-radius: 0;
}

.btn-white:hover {
	background-color: rgb(111, 153, 204);
	color: #fff;
}

.back-white, .back-white:hover, .back-white:focus, .back-white:active {
	background-color: #fff !important;
}

.select-dropdown {
	margin: 0;
	border-radius: 0;
	padding: 0;
	min-width: 120px;
}

span.ui-grid-pager-row-count-label.ng-binding.ng-scope {
	display: none;
}

.hidden {
	display: none !important;
}

/* [ui-i18n="en"] {
	height: 361px !important;
} */
.ui-grid-pager-panel {
	border-top: 1px solid #ccc;
}