<div class="profile-content">
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="portlet light bordered">
                                     <div class="portlet-title tabbable-line">
                                         <div class="caption caption-md">
                                             <i class="icon-globe theme-font hide"></i>
                                             <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                         </div>
                                        
                                     </div>
                                     <div class="portlet-body">
                                         <div class="tab-content">
                                             <!-- PERSONAL INFO TAB -->
                  <div class="tab-pane active" >
                      <form role="form" action="#">
                          <div class="form-group">
                              <label class="control-label">Device Id</label>
                              <input type="text" placeholder="" ng-model= "esnId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Description</label>
                              <input type="text" placeholder="" ng-model= "desc" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Icon Id</label>
                              <input type="text" placeholder="" ng-model= "iconId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Partner Id</label>
                              <input type="text" placeholder="" ng-model= "partnerId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Password</label>
                              <input type="text" placeholder="" ng-model= "pass" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Billing Code</label>
                              <input type="text" placeholder="" ng-model= "BillingCode" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Billing Id</label>
                              <input type="text" placeholder="" ng-model= "billId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Day Light</label>
                              <input type="text" placeholder="" ng-model= "dayLight" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Mask Id</label>
                              <input type="text" placeholder="" ng-model= "maskId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Device Group Id</label>
                              <input type="text" placeholder="" ng-model= "deviceGpId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Object Id</label>
                              <input type="text" placeholder="" ng-model= "objId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Driver User Id</label>
                              <input type="text" placeholder="" ng-model= "driverUserId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">Product Id</label>
                              <input type="text" placeholder="" ng-model= "productId" class="form-control" /> </div>
                          <div class="form-group">
                              <label class="control-label">state</label>
                              <input type="text" placeholder="" ng-model= "state" class="form-control" /> </div>
                          <div class="margiv-top-10">
                              <a href="javascript:;" class="btn green"> Save Changes </a>
                              <a href="javascript:;" class="btn default"> Cancel </a>
                          </div>
                      </form>
                  </div>
                  
                      
                 
                  
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>