﻿<div class="page-content">

    <!--<div class="page-header">-->
    <div class="tab-content">
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div ng-include="'views/home/check.html'"></div>
            </div>
        </div>
    </div>
   
</div>