 <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet bordered">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="images/profile_user.jpg" class="img-responsive" alt=""> </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name" >{{f_name}} {{l_name}}</div>
                                        <div class="profile-usertitle-job"> {{role}} </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
                                        <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                        <button type="button" class="btn btn-circle red btn-sm">Message</button>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li>
                                                <a href="page_user_profile_1.html">
                                                    <i class="icon-home"></i> Overview </a>
                                            </li>
                                            <li class="active">
                                                <a href="page_user_profile_1_account.html">
                                                    <i class="icon-settings"></i> Account Settings </a>
                                            </li>
                                            <li>
                                                <a href="page_user_profile_1_help.html">
                                                    <i class="icon-info"></i> Help </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                               
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light bordered">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_2" data-toggle="tab">Login Info</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_4" data-toggle="tab">Billing Details</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <!-- PERSONAL INFO TAB -->
                                                    <div class="tab-pane active" id="tab_1_1">
                                                        <form role="form" action="#">
                                                            <div class="form-group">
                                                                <label class="control-label">First Name</label>
                                                                <input type="text" placeholder="" ng-model= "f_name" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Last Name</label>
                                                                <input type="text" placeholder="" ng-model= "l_name" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Email Address</label>
                                                                <input type="text" placeholder="" ng-model= "email" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Partner ID</label>
                                                                <input type="text" placeholder="" ng-model= "partnerId" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Language Code</label>
                                                                <input type="text" placeholder="" ng-model= "lang" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Country Code</label>
                                                                <input type="text" placeholder="" ng-model= "country" class="form-control" /> </div>
                                                            <div class="margiv-top-10">
                                                                <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                <a href="javascript:;" class="btn default"> Cancel </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END PERSONAL INFO TAB -->
                                                    <!-- Login Info TAB -->
                                                        <div class="tab-pane" id="tab_1_2">
                                                        <form role="form" action="#">
                                                            <div class="form-group">
                                                                <label class="control-label">ID</label>
                                                                <input type="text" placeholder="" ng-model= "id" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Role</label>
                                                                <input type="text" placeholder="" ng-model= "role" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">User Name</label>
                                                                <input type="text" placeholder="" ng-model= "u_name" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Password</label>
                                                                <input type="text" placeholder="" ng-model= "password" class="form-control" /> </div>
                                                            <div class="margiv-top-10">
                                                                <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                <a href="javascript:;" class="btn default"> Cancel </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END Login Info TAB -->
                                                    <!-- CHANGE PASSWORD TAB -->
                                                    <div class="tab-pane" id="tab_1_3">
                                                        <form action="#">
                                                            <div class="form-group">
                                                                <label class="control-label">Current Password</label>
                                                                <input type="password" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">New Password</label>
                                                                <input type="password" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Re-type New Password</label>
                                                                <input type="password" class="form-control" /> </div>
                                                            <div class="margin-top-10">
                                                                <a href="javascript:;" class="btn green"> Change Password </a>
                                                                <a href="javascript:;" class="btn default"> Cancel </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END CHANGE PASSWORD TAB -->
                                                    
                                                  <!--   {
														      "month": 3,
														      "year": 2015,
														      "state": "karnataka",
														      "country_code": 94,
														      "user_id": 12,
														      "card_type": "platinum visa",
														      "card_number": 1,
														      "name_on_card": "bits pilani hyderabad ",
														      "addr1": "laxmi nagar",
														      "addr2": "Pang niwas",
														      "postal_code": 302020,
														      "city": "Jaipur",
														      "id": "654"
														    } -->
                                                    <!-- BILLING DETAILS TAB -->
                                                      <div class="tab-pane " id="tab_1_4">
                                                        <form role="form" action="#">
                                                            <div class="form-group">
                                                                <label class="control-label">Billing ID</label>
                                                                <input type="text" placeholder="" ng-model= "f_name" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Card Number</label>
                                                                <input type="text" placeholder="" ng-model= "l_name" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Name On Card</label>
                                                                <input type="text" placeholder="" ng-model= "email" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Card Type</label>
                                                                <input type="text" placeholder="" ng-model= "partnerId" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Language Code</label>
                                                                <input type="text" placeholder="" ng-model= "lang" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Country Code</label>
                                                                <input type="text" placeholder="" ng-model= "country" class="form-control" /> </div>
                                                            <div class="margiv-top-10">
                                                                <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                <a href="javascript:;" class="btn default"> Cancel </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END BILLING DETAILS TAB -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE CONTENT -->
                                </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->