<!-- Register Page -->
<div class="text-center col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3">
	<img src="images/NavResearch.png" class="img-responsive" alt="" />
</div>
<div class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3" style="background-color: #eceef1;padding: 10px 30px 30px;">
	<!-- css for password strenght -->
	<style>
@import 'assets/layouts/layout6/css/password.css';
</style>
	<!-- BEGIN REGISTRATION FORM -->
	<form class="register-form col-xs-12" name="myForm" novalidate
		ng-init="disabled=false">
		<div class="form-title">
			<h3 class="form-title text-center">Sign Up</h3>
		</div>
		<p class="hint">Enter
			your personal details below:</p>
		<div class="form-group" >
			<label class="control-label visible-ie8 visible-ie9" for="name" tooltip="First Name">First
				Name</label> <input class="form-control placeholder-no-fix" type="text"
				placeholder="First Name *" id="firstname" name="firstname"
				ng-model="formData.firstname" ng-disabled="checkAgree"/> <span
				ng-show="myForm.firstname.$error.required && myForm.firstname.$dirty"
				style="color: red;">First Name is required</span>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" for="name">Last
				Name</label> <input class="form-control placeholder-no-fix" type="text"
				placeholder="Last Name *" id="lastname" name="lastname"
				ng-model="formData.lastname" ng-disabled="checkAgree" /> <span
				ng-show="myForm.lastname.$error.required && myForm.lastname.$dirty"
				style="color: red;">Last Name is required</span>
		</div>

		<div class="form-group"
			ng-class="{true: 'error'}[submitted && myForm.email.$invalid]">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9" for="email">Email</label>
			<input class="form-control placeholder-no-fix" type="email"
				placeholder="Email *" id="email" name="email"
				ng-model="formData.email" ng-disabled="checkAgree" /> <span
				ng-show="myForm.email.$error.required && myForm.email.$dirty"
				style="color: red;">Email is required </span> <span
				ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty"
				style="color: red;">Enter a valid email (abc@domainname.com)</span>
			<!-- <span class="help-inline" ng-show="submitted && form.email.$error.required" style="color:red;">Email address is Required</span>
                    <span class="help-inline" ng-show="submitted && form.email.$error.email" >Invalid email (Hint : abc@domain.com)</span> -->
		</div>

		<!-- <div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" for="partnerid">Partner
				Id</label> <input class="form-control placeholder-no-fix" type="text"
				placeholder="Partner Id" id="partnerid" name="partnerid"
				ng-model="formData.partnerid"  ng-disabled="checkAgree"/>
			<span ng-show="myForm.partnerid.$error.required && myForm.partnerid.$dirty">Partner Id is required</span> 
		</div> -->



		<!-- <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9" for="CT">Language Code</label>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="language Code" id="languagecode" name="languagecode" ng-model="formData.languagecode" required  />
                    <span ng-show="myForm.languagecode.$error.required && myForm.languagecode.$dirty">Language Code is required</span> 
                     </div> -->



		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" id="country"
				name="country">Country</label> <select name="country"
				ng-model="formData.country" ng-disabled="checkAgree" class="form-control">
				<option value="">Country</option>
				<option value="AF">Afghanistan</option>
				<option value="AL">Albania</option>
				<option value="DZ">Algeria</option>
				<option value="AS">American Samoa</option>
				<option value="AD">Andorra</option>
				<option value="AO">Angola</option>
				<option value="AI">Anguilla</option>
				<option value="AR">Argentina</option>
				<option value="AM">Armenia</option>
				<option value="AW">Aruba</option>
				<option value="AU">Australia</option>
				<option value="AT">Austria</option>
				<option value="AZ">Azerbaijan</option>
				<option value="BS">Bahamas</option>
				<option value="BH">Bahrain</option>
				<option value="BD">Bangladesh</option>
				<option value="BB">Barbados</option>
				<option value="BY">Belarus</option>
				<option value="BE">Belgium</option>
				<option value="BZ">Belize</option>
				<option value="BJ">Benin</option>
				<option value="BM">Bermuda</option>
				<option value="BT">Bhutan</option>
				<option value="BO">Bolivia</option>
				<option value="BA">Bosnia and Herzegowina</option>
				<option value="BW">Botswana</option>
				<option value="BV">Bouvet Island</option>
				<option value="BR">Brazil</option>
				<option value="IO">British Indian Ocean Territory</option>
				<option value="BN">Brunei Darussalam</option>
				<option value="BG">Bulgaria</option>
				<option value="BF">Burkina Faso</option>
				<option value="BI">Burundi</option>
				<option value="KH">Cambodia</option>
				<option value="CM">Cameroon</option>
				<option value="CA">Canada</option>
				<option value="CV">Cape Verde</option>
				<option value="KY">Cayman Islands</option>
				<option value="CF">Central African Republic</option>
				<option value="TD">Chad</option>
				<option value="CL">Chile</option>
				<option value="CN">China</option>
				<option value="CX">Christmas Island</option>
				<option value="CC">Cocos (Keeling) Islands</option>
				<option value="CO">Colombia</option>
				<option value="KM">Comoros</option>
				<option value="CG">Congo</option>
				<option value="CD">Congo, the Democratic Republic of the</option>
				<option value="CK">Cook Islands</option>
				<option value="CR">Costa Rica</option>
				<option value="CI">Cote d'Ivoire</option>
				<option value="HR">Croatia (Hrvatska)</option>
				<option value="CU">Cuba</option>
				<option value="CY">Cyprus</option>
				<option value="CZ">Czech Republic</option>
				<option value="DK">Denmark</option>
				<option value="DJ">Djibouti</option>
				<option value="DM">Dominica</option>
				<option value="DO">Dominican Republic</option>
				<option value="EC">Ecuador</option>
				<option value="EG">Egypt</option>
				<option value="SV">El Salvador</option>
				<option value="GQ">Equatorial Guinea</option>
				<option value="ER">Eritrea</option>
				<option value="EE">Estonia</option>
				<option value="ET">Ethiopia</option>
				<option value="FK">Falkland Islands (Malvinas)</option>
				<option value="FO">Faroe Islands</option>
				<option value="FJ">Fiji</option>
				<option value="FI">Finland</option>
				<option value="FR">France</option>
				<option value="GF">French Guiana</option>
				<option value="PF">French Polynesia</option>
				<option value="TF">French Southern Territories</option>
				<option value="GA">Gabon</option>
				<option value="GM">Gambia</option>
				<option value="GE">Georgia</option>
				<option value="DE">Germany</option>
				<option value="GH">Ghana</option>
				<option value="GI">Gibraltar</option>
				<option value="GR">Greece</option>
				<option value="GL">Greenland</option>
				<option value="GD">Grenada</option>
				<option value="GP">Guadeloupe</option>
				<option value="GU">Guam</option>
				<option value="GT">Guatemala</option>
				<option value="GN">Guinea</option>
				<option value="GW">Guinea-Bissau</option>
				<option value="GY">Guyana</option>
				<option value="HT">Haiti</option>
				<option value="HM">Heard and Mc Donald Islands</option>
				<option value="VA">Holy See (Vatican City State)</option>
				<option value="HN">Honduras</option>
				<option value="HK">Hong Kong</option>
				<option value="HU">Hungary</option>
				<option value="IS">Iceland</option>
				<option value="IN">India</option>
				<option value="ID">Indonesia</option>
				<option value="IR">Iran (Islamic Republic of)</option>
				<option value="IQ">Iraq</option>
				<option value="IE">Ireland</option>
				<option value="IL">Israel</option>
				<option value="IT">Italy</option>
				<option value="JM">Jamaica</option>
				<option value="JP">Japan</option>
				<option value="JO">Jordan</option>
				<option value="KZ">Kazakhstan</option>
				<option value="KE">Kenya</option>
				<option value="KI">Kiribati</option>
				<option value="KP">Korea, Democratic People's Republic of</option>
				<option value="KR">Korea, Republic of</option>
				<option value="KW">Kuwait</option>
				<option value="KG">Kyrgyzstan</option>
				<option value="LA">Lao People's Democratic Republic</option>
				<option value="LV">Latvia</option>
				<option value="LB">Lebanon</option>
				<option value="LS">Lesotho</option>
				<option value="LR">Liberia</option>
				<option value="LY">Libyan Arab Jamahiriya</option>
				<option value="LI">Liechtenstein</option>
				<option value="LT">Lithuania</option>
				<option value="LU">Luxembourg</option>
				<option value="MO">Macau</option>
				<option value="MK">Macedonia, The Former Yugoslav Republic
					of</option>
				<option value="MG">Madagascar</option>
				<option value="MW">Malawi</option>
				<option value="MY">Malaysia</option>
				<option value="MV">Maldives</option>
				<option value="ML">Mali</option>
				<option value="MT">Malta</option>
				<option value="MH">Marshall Islands</option>
				<option value="MQ">Martinique</option>
				<option value="MR">Mauritania</option>
				<option value="MU">Mauritius</option>
				<option value="YT">Mayotte</option>
				<option value="MX">Mexico</option>
				<option value="FM">Micronesia, Federated States of</option>
				<option value="MD">Moldova, Republic of</option>
				<option value="MC">Monaco</option>
				<option value="MN">Mongolia</option>
				<option value="MS">Montserrat</option>
				<option value="MA">Morocco</option>
				<option value="MZ">Mozambique</option>
				<option value="MM">Myanmar</option>
				<option value="NA">Namibia</option>
				<option value="NR">Nauru</option>
				<option value="NP">Nepal</option>
				<option value="NL">Netherlands</option>
				<option value="AN">Netherlands Antilles</option>
				<option value="NC">New Caledonia</option>
				<option value="NZ">New Zealand</option>
				<option value="NI">Nicaragua</option>
				<option value="NE">Niger</option>
				<option value="NG">Nigeria</option>
				<option value="NU">Niue</option>
				<option value="NF">Norfolk Island</option>
				<option value="MP">Northern Mariana Islands</option>
				<option value="NO">Norway</option>
				<option value="OM">Oman</option>
				<option value="PK">Pakistan</option>
				<option value="PW">Palau</option>
				<option value="PA">Panama</option>
				<option value="PG">Papua New Guinea</option>
				<option value="PY">Paraguay</option>
				<option value="PE">Peru</option>
				<option value="PH">Philippines</option>
				<option value="PN">Pitcairn</option>
				<option value="PL">Poland</option>
				<option value="PT">Portugal</option>
				<option value="PR">Puerto Rico</option>
				<option value="QA">Qatar</option>
				<option value="RE">Reunion</option>
				<option value="RO">Romania</option>
				<option value="RU">Russian Federation</option>
				<option value="RW">Rwanda</option>
				<option value="KN">Saint Kitts and Nevis</option>
				<option value="LC">Saint LUCIA</option>
				<option value="VC">Saint Vincent and the Grenadines</option>
				<option value="WS">Samoa</option>
				<option value="SM">San Marino</option>
				<option value="ST">Sao Tome and Principe</option>
				<option value="SA">Saudi Arabia</option>
				<option value="SN">Senegal</option>
				<option value="SC">Seychelles</option>
				<option value="SL">Sierra Leone</option>
				<option value="SG">Singapore</option>
				<option value="SK">Slovakia (Slovak Republic)</option>
				<option value="SI">Slovenia</option>
				<option value="SB">Solomon Islands</option>
				<option value="SO">Somalia</option>
				<option value="ZA">South Africa</option>
				<option value="GS">South Georgia and the South Sandwich
					Islands</option>
				<option value="ES">Spain</option>
				<option value="LK">Sri Lanka</option>
				<option value="SH">St. Helena</option>
				<option value="PM">St. Pierre and Miquelon</option>
				<option value="SD">Sudan</option>
				<option value="SR">Suriname</option>
				<option value="SJ">Svalbard and Jan Mayen Islands</option>
				<option value="SZ">Swaziland</option>
				<option value="SE">Sweden</option>
				<option value="CH">Switzerland</option>
				<option value="SY">Syrian Arab Republic</option>
				<option value="TW">Taiwan, Province of China</option>
				<option value="TJ">Tajikistan</option>
				<option value="TZ">Tanzania, United Republic of</option>
				<option value="TH">Thailand</option>
				<option value="TG">Togo</option>
				<option value="TK">Tokelau</option>
				<option value="TO">Tonga</option>
				<option value="TT">Trinidad and Tobago</option>
				<option value="TN">Tunisia</option>
				<option value="TR">Turkey</option>
				<option value="TM">Turkmenistan</option>
				<option value="TC">Turks and Caicos Islands</option>
				<option value="TV">Tuvalu</option>
				<option value="UG">Uganda</option>
				<option value="UA">Ukraine</option>
				<option value="AE">United Arab Emirates</option>
				<option value="GB">United Kingdom</option>
				<option value="US">United States</option>
				<option value="UM">United States Minor Outlying Islands</option>
				<option value="UY">Uruguay</option>
				<option value="UZ">Uzbekistan</option>
				<option value="VU">Vanuatu</option>
				<option value="VE">Venezuela</option>
				<option value="VN">Viet Nam</option>
				<option value="VG">Virgin Islands (British)</option>
				<option value="VI">Virgin Islands (U.S.)</option>
				<option value="WF">Wallis and Futuna Islands</option>
				<option value="EH">Western Sahara</option>
				<option value="YE">Yemen</option>
				<option value="ZM">Zambia</option>
				<option value="ZW">Zimbabwe</option>
			</select> <span
				ng-show="myForm.country.$error.required && myForm.country.$dirty"
				style="color: red;">Select your country</span>
		</div>



		<!-- language selector -->
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9"
				id="languagecode" name="languagecode">Country</label> <select
				name="languagecode" ng-model="formData.languagecode" ng-disabled="checkAgree"
				class="form-control">
				<option value="">Language</option>
				<option value="ab">Abkhazian</option>
				<option value="aa">Afar</option>
				<option value="af">Afrikaans</option>
				<option value="sq">Albanian</option>
				<option value="am">Amharic</option>
				<option value="ar">Arabic</option>
				<option value="an">Aragonese</option>
				<option value="hy">Armenian</option>
				<option value="as">Assamese</option>
				<option value="ay">Aymara</option>
				<option value="az">Azerbaijani</option>
				<option value="ba">Bashkir</option>
				<option value="eu">Basque</option>
				<option value="bn">Bengali(Bangla)</option>
				<option value="dz">Bhutani</option>
				<option value="bh">Bihari</option>
				<option value="bi">Bislama</option>
				<option value="br">Breton</option>
				<option value="bg">Bulgarian</option>
				<option value="my">Burmese</option>
				<option value="be">Byelorussian(Belarusian)</option>
				<option value="km">Cambodian</option>
				<option value="ca">Catalan</option>
				<option value="chr">Cherokee</option>
				<option value="nya">Chewa</option>
				<option value="zh">Chinese</option>
				<option value="zh-Hans">Chinese(Simplified)</option>
				<option value="zh-Hant">Chinese(Traditional)</option>
				<option value="co">Corsican</option>
				<option value="hr">Croatian</option>
				<option value="cs">Czech</option>
				<option value="da">Danish</option>
				<option value="div">Divehi</option>
				<option value="nl">Dutch</option>
				<option value="bin">Edo</option>
				<option value="en">English</option>
				<option value="eo">Esperanto</option>
				<option value="et">Estonian</option>
				<option value="fo">Faeroese</option>
				<option value="fa">Farsi</option>
				<option value="fj">Fiji</option>
				<option value="fi">Finnish</option>
				<option value="fr">French</option>
				<option value="fy">Frisian</option>
				<option value="ful">Fulfulde</option>
				<option value="gl">Galician</option>
				<option value="gd">Gaelic(Scottish)</option>
				<option value="gv">Gaelic(Manx)</option>
				<option value="ka">Georgian</option>
				<option value="de">German</option>
				<option value="el">Greek</option>
				<option value="kl">Greenlandic</option>
				<option value="gn">Guarani</option>
				<option value="gu">Gujarati</option>
				<option value="ht">HaitianCreole</option>
				<option value="ha">Hausa</option>
				<option value="haw">Hawaiian</option>
				<option value="iw">Hebrewhe</option>
				<option value="hi">Hindi</option>
				<option value="hu">Hungarian</option>
				<option value="is">Icelandic</option>
				<option value="io">Ido</option>
				<option value="ibo">Igbo</option>
				<option value="in">Indonesian</option>
				<option value="ia">Interlingua</option>
				<option value="ie">Interlingue</option>
				<option value="iu">Inuktitut</option>
				<option value="ik">Inupiak</option>
				<option value="ga">Irish</option>
				<option value="it">Italian</option>
				<option value="ja">Japanese</option>
				<option value="jv">Javanese</option>
				<option value="kn">Kannada</option>
				<option value="kau">Kanuri</option>
				<option value="ks">Kashmiri</option>
				<option value="kk">Kazakh</option>
				<option value="rw">Kinyarwanda(Ruanda)</option>
				<option value="ky">Kirghiz</option>
				<option value="rn">Kirundi(Rundi)</option>
				<option value="kok">Konkani</option>
				<option value="ko">Korean</option>
				<option value="ku">Kurdish</option>
				<option value="lo">Laothian</option>
				<option value="la">Latin</option>
				<option value="lv">Latvian(Lettish)</option>
				<option value="li">Limburgish(Limburger)</option>
				<option value="ln">Lingala</option>
				<option value="lt">Lithuanian</option>
				<option value="mk">Macedonian</option>
				<option value="mg">Malagasy</option>
				<option value="ms">Malay</option>
				<option value="ml">Malayalam</option>
				<option value="mt">Maltese</option>
				<option value="mi">Maori</option>
				<option value="mr">Marathi</option>
				<option value="mo">Moldavian</option>
				<option value="mn">Mongolian</option>
				<option value="na">Nauru</option>
				<option value="ne">Nepali</option>
				<option value="no">Norwegian</option>
				<option value="oc">Occitan</option>
				<option value="or">Oriya</option>
				<option value="pap">Papiamentu</option>
				<option value="ps">Pashto(Pushto)</option>
				<option value="pl">Polish</option>
				<option value="pt">Portuguese</option>
				<option value="pa">Punjabi</option>
				<option value="qu">Quechua</option>
				<option value="rm">Rhaeto-Romance</option>
				<option value="ro">Romanian</option>
				<option value="ru">Russian</option>
				<option value="sm">Samoan</option>
				<option value="sg">Sangro</option>
				<option value="sa">Sanskrit</option>
				<option value="sr">Serbian</option>
				<option value="sh">Serbo-Croatian</option>
				<option value="st">Sesotho</option>
				<option value="tn">Setswana</option>
				<option value="sn">Shona</option>
				<option value="ii">SichuanYi</option>
				<option value="sd">Sindhi</option>
				<option value="si">Sinhalese</option>
				<option value="ss">Siswati</option>
				<option value="sk">Slovak</option>
				<option value="sl">Slovenian</option>
				<option value="so">Somali</option>
				<option value="es">Spanish</option>
				<option value="su">Sundanese</option>
				<option value="sw">Swahili(Kiswahili)</option>
				<option value="sv">Swedish</option>
				<option value="syr">Syriac</option>
				<option value="tl">Tagalog</option>
				<option value="tg">Tajik</option>
				<option value="zgh">Tamazight</option>
				<option value="ta">Tamil</option>
				<option value="tt">Tatar</option>
				<option value="te">Telugu</option>
				<option value="th">Thai</option>
				<option value="bo">Tibetan</option>
				<option value="ti">Tigrinya</option>
				<option value="to">Tonga</option>
				<option value="ts">Tsonga</option>
				<option value="tr">Turkish</option>
				<option value="tk">Turkmen</option>
				<option value="tw">Twi</option>
				<option value="ug">Uighur</option>
				<option value="uk">Ukrainian</option>
				<option value="ur">Urdu</option>
				<option value="uz">Uzbek</option>
				<option value="ven">Venda</option>
				<option value="vi">Vietnamese</option>
				<option value="vo">Volapük</option>
				<option value="wa">Wallon</option>
				<option value="cy">Welsh</option>
				<option value="wo">Wolof</option>
				<option value="xh">Xhosa</option>
				<option value="yi">Yiddishyi,</option>
				<option value="yo">Yoruba</option>
				<option value="zu">Zulu</option>

			</select> <span
				ng-show="myForm.languagecode.$error.required && myForm.languagecode.$dirty"
				style="color: red;">Select your country</span>
		</div>
		<p class="hint">Enter
			your account details below:</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" for="username">Username</label>
			<input class="form-control placeholder-no-fix" type="text"
				autocomplete="off" placeholder="Username *" id="username"
				name="username" ng-model="username"  ng-disabled="checkAgree" ng-minlength="5"
				ng-maxlength="15" Username required></input>
			<!-- <button ng-click="checkValid()">Check Validity</button> -->
			<!-- <span ng-show="myForm.username.$error.required && myForm.username.$dirty" style="color:red;">Username is required</span> -->
			<!-- <span ng-show="!myForm.username.$error.minLength && !myForm.username.$error.maxLength && myForm.username.$error.pattern && myForm.username.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span> -->
			<span
				ng-show="!myForm.username.$error.required && (myForm.username.$error.minlength || myForm.username.$error.maxlength)"
				style="color: red;">Username must be between 5 to 15
				characters</span> <span ng-show="myForm.username.$pending.Username"
				style="color: red;">Checking if name already exists...</span> <span
				ng-show="myForm.username.$error.Username" style="color: red;">User
				Name already Exists</span>
		</div>



		<!-- Password strength directive<div class="form-group" >
                    <label class="control-label visible-ie8 visible-ie9" for="password">Password</label>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off"  placeholder="Password *" id="password" name="password" ng-model="formData.password"  ng-required password-strength="formData.password"/>
                    <span ng-show="myForm.password.$error.required && myForm.password.$dirty" style="color:red;">Password is required </span>
                    <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" style="color:red;">Passwords must be between 8 and 20 characters (Include special characters to provide strength to your password)</span> -->

		<!-- Password strength directive</div>
                    <div class="msg-block" ng-show="myForm.$error">
                    <span ng-class="strength" ng-show="myForm.password.$valid && myForm.password.$dirty" style="color:red;">
                   This password is {{strength}} 
                       </span>
                     </div> -->

		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" for="password">Password</label>
			<input class="form-control placeholder-no-fix" type="password"
				autocomplete="off" placeholder="Password *" id="password"
				name="password" ng-model="password" novalidate  ng-disabled="checkAgree"/>
			<ul id="strength" check-strength="password"></ul>
			<!-- <span ng-show="myForm.password.$error.required && myForm.password.$dirty" style="color:red;">Password is required </span>
                    <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" style="color:red;">Passwords must be between 8 and 20 characters (Include special characters to provide strength to your password)</span> -->
		</div>


		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" for="password_c"
				style="color: red;">Confirm Password</label> <input
				class="form-control placeholder-no-fix" type="password"
				autocomplete="off" placeholder="Confirm Password *"
				id="password_c" name="password_c" ng-model="formData.password_c"
				ng-required pw-check="password"  ng-disabled="checkAgree"/>
		</div>

		<div class="msg-block" ng-show="myForm.$error">
                    <span class="msg-error" ng-show="myForm.password_c.$error.pwmatch" style="color:red;">
    Password fields don't match.
  </span>
</div> 


		<span ng-show="showEmptyFieldsMsg" style="color: red;">Please enter
			details before accepting Terms & conditions</span>
		<div class="form-group margin-top-20 margin-bottom-20">
			<label class="check"> <input type="checkbox"
				name="checkPolicy" ng-change="checkFields(checkAgree)"
				ng-model="checkAgree" /> <span class="loginblue-font">I
					agree to the </span> <a href="javascript:;" class="loginblue-link">Terms
					of Service</a> <span class="loginblue-font">and</span> <a
				href="javascript:;" class="loginblue-link">Privacy Policy </a>
			</label>
			<div id="register_tnc_error"></div>
		</div>

		<div class="form-actions">
			<button type="button" id="register-back-btn" class="btn btn-default"
				ng-click="login()">Back</button>
			<button type="submit" id="register-submit-btn"
				class="btn red uppercase pull-right" ng-disabled="!checkAgree"
				ng-click="registerSubmit('myForm')">Submit</button>
		</div>



	</form>

	<!--  <pre>strength = {{strength}}</pre>    
             <pre>password = {{formData.password}}</pre> -->
	<!-- END REGISTRATION FORM -->

	<style>
body {
	background-color: white!important;
    padding: 30px 0 !important;
}

button {
	display: none;
}
.btn{
    border-radius: 0;
    padding: 10px 20px;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-title{
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
}
.hint{
color: #555; font-weight: 500;margin-bottom:10px;}
</style>

</div>