<div class="wrap">
    <div class="logo">
        <p>OOPS! - Could not Find it</p>
        <img src="images/404-1.png" />
        <div class="sub">
            <p><a ui-sref="home.login">Go to Home</a></p>
        </div>
    </div>
</div>	