<div class="wrap">
    <div class="logo">
        <p>User or Password is incorrect.Please try again</p>
        <img src="images/401.jpg" />
        <div class="sub">
            <p><a ui-sref="home.login">Go to Home</a></p>
        </div>
    </div>
</div>